# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#bring in list of cities
data_file = "city_data.csv"

# output_data_file
weather_df = pd.read_csv(data_file)
weather_df.head()

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
0,Kapaa,75,US,1587327369,69,22.08,-159.32,78.01,5.79
1,Mataura,95,NZ,1587327529,81,-46.19,168.86,44.01,4.00
2,Burnie,100,AU,1587327529,94,-41.07,145.92,55.00,18.99
3,Punta Arenas,40,CL,1587327530,65,-53.15,-70.92,44.60,34.45
4,Mah√©bourg,75,MU,1587327530,88,-20.41,57.70,77.00,6.93

In [3]:
#jupyter nbextension enable --py gmaps

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Store latitude and longitude in locations
locations = weather_df[["Latitude", "Longitude"]]

# Fill NaN values and convert to float
humidity = weather_df["Humidity"]

In [5]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [106]:
#  * A max temperature lower than 80 degrees but higher than 70.
#   * Wind speed less than 10 mph
#   * Zero cloudiness.

perfect_weather_df = pd.DataFrame(weather_df)
perfect_weather_df.dropna(inplace = True)


#find perfect weather
wind_speed = perfect_weather_df["Wind Speed"] < 10
max_temp = (perfect_weather_df["Max Temperature"] <= 80) & (perfect_weather_df["Max Temperature"] > 70)
cloud = perfect_weather_df["Cloudiness"] == 0

#store cities and info in df
perfect_weather_df = perfect_weather_df[wind_speed & max_temp & cloud]
perfect_weather_df = perfect_weather_df.reset_index()
perfect_weather_df = perfect_weather_df.dropna()
perfect_weather_df

,index,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed
0,145,≈¢ah≈£ƒÅ,0,EG,1587327550,31,26.77,31.50,77.00,6.93
1,157,Ca Mau,0,VN,1587327552,81,9.18,105.15,78.53,3.69
2,216,San Vicente,0,AR,1587327560,48,-26.62,-54.13,70.47,2.24
3,370,Umluj,0,SA,1587327582,44,25.02,37.27,75.81,4.07
4,440,Vallenar,0,CL,1587327388,38,-28.57,-70.76,75.42,7.81
5,522,Morondava,0,MG,1587327605,73,-20.28,44.28,78.60,7.45

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [107]:
hotel_df = perfect_weather_df
hotel_df["Hotel Name"] = np.nan
hotel_df = hotel_df.drop(columns='index')
hotel_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed,Hotel Name
0,≈¢ah≈£ƒÅ,0,EG,1587327550,31,26.77,31.50,77.00,6.93,NaN
1,Ca Mau,0,VN,1587327552,81,9.18,105.15,78.53,3.69,NaN
2,San Vicente,0,AR,1587327560,48,-26.62,-54.13,70.47,2.24,NaN
3,Umluj,0,SA,1587327582,44,25.02,37.27,75.81,4.07,NaN
4,Vallenar,0,CL,1587327388,38,-28.57,-70.76,75.42,7.81,NaN
5,Morondava,0,MG,1587327605,73,-20.28,44.28,78.60,7.45,NaN

In [118]:
# #found this off of Google's site
# #https://maps.googleapis.com/maps/api/place/nearbysearch/json?
# #location=-33.8670522,151.1957362& - try to place our lat and lon in this
# #radius=1500& - for us it would be 5000
# #type=restaurant& - our type would be lodging
# #key=YOUR_API_KEY

# # Make a request for each of the indices
hotels = []

#query_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

#run loop through each city to find the first hotel
for i in range(len(hotel_df)):
    coordinates = str(hotel_df.loc[i]['Latitude'])+' , '+str(hotel_df.loc[i]['Longitude'])
    radius = 5000
    _type = 'lodging'
    params = {
    "location": coordinates,
    "radius": radius,
    "type": _type,
    "key": g_key
    }
    query_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    try:
        response = requests.get(query_url, params=params)
        hotel_results = response.json()
        hotels.append(hotel_results['results'][0]['name'])
                   
    except:        
        print("City not found.")

hotel_df['Hotel Name'] = hotels       
hotel_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temperature,Wind Speed,Hotel Name
0,≈¢ah≈£ƒÅ,0,EG,1587327550,31,26.77,31.50,77.00,6.93,M√∏h√£mƒôd T√£rƒôk üè†
1,Ca Mau,0,VN,1587327552,81,9.18,105.15,78.53,3.69,Kh√°ch S·∫°n M∆∞·ªùng Thanh Luxury C√† Mau
2,San Vicente,0,AR,1587327560,48,-26.62,-54.13,70.47,2.24,Complejo Tur√≠stico Farelluk
3,Umluj,0,SA,1587327582,44,25.02,37.27,75.81,4.07,Tanal Hotel Apartment
4,Vallenar,0,CL,1587327388,38,-28.57,-70.76,75.42,7.81,Humacao Bed & Breakfast
5,Morondava,0,MG,1587327605,73,-20.28,44.28,78.60,7.45,La Case Bambou

In [122]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [126]:
# Add marker layer ontop of heat map

marker = gmaps.marker_layer(locations)
fig.add_layer(marker)

# Display Map

fig

Figure(layout=FigureLayout(height='420px'))